@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --primary-color: #41ce00;

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  input {
    outline: none;
  }

  button {
    border: none;
    background: transparent;

    &:active {
      transition: all 0.5s ease-in-out;
      scale: 0.98;
    }
  }
}

body {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
  color: #222;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0 24px 0;

  .logo {
    font-weight: bold;
    font-size: 1.6rem;
  }

  .nav-link {
    display: flex;
    gap: 16px;
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;

    .user-logo {
      height: 28px;
      padding: 6px;
      border-radius: 6px;
      border: 1px solid #fff;
      background: var(--primary-color);
      color: #fff;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logout {
      width: 26px;
      height: 26px;
    }
  }
}

.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;


  @media screen and (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }

  .post-title {
    margin: 0;
    font-size: 1.6rem;
  }

  .post-info {
    margin: 10px 0;
    color: #888;
    font-size: 0.7rem;
    font-weight: bold;
    display: flex;
    gap: 10px;

    .author {
      color: #333;
    }
  }

  .post-description {
    margin: 10px 0;
    line-height: 1.4rem;
  }
}

.auth-page {
  margin: 0 auto;

  h1 {
    margin: 30px 0;
    text-align: center;
  }

  .auth-form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .auth-input {
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  }
}

.index-page {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .create-post-link {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: var(--primary-color);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px 20px;

    &:hover {
      border: 1px solid var(--primary-color);
    }

    .add-logo {
      width: 24px;
      height: 24px;
    }
  }
}

.crete-post-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .create-post-input {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px;
  }

  .quill,
  .ql-container {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
  }

  .ql-snow {
    border: none;
  }

  .ql-editor {
    border-top: 1px solid #aaa9a9;
  }
}

.custom-button {
  padding: 5px 20px;
  background: var(--primary-color);
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: semibold;

  &:hover {
    box-shadow: 0 1px 5px rgba(128, 128, 128, 0.671);
    transition: all 0.5s ease-in-out;
  }

  &:active {
    scale: 0.97;
    transition: all 0.2s ease-in-out;
  }
}

.post-page {
  display: flex;
  flex-direction: column;

  .post-title {
    text-align: center;
  }

  .post-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0 5px;

    .post-date {
      font-size: 0.7rem;
      color: #aaa;
    }

    .post-author {
      font-size: 0.7rem;
      font: bold;
    }
  }

  .edit-link {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 5px 10px 5px 0px;
    width: fit-content;

    &:hover {

      .edit-link-icon,
      .edit-link-text {
        color: #222;
      }
    }

    .edit-link-icon {
      width: 14px;
      height: 14px;
      color: var(--primary-color);
    }

    .edit-link-text {
      text-decoration: underline;
      font-size: 14px;
      color: var(--primary-color);
    }
  }
}

.post-image {
  width: 100%;
  max-height: 350px;
  display: flex;
  overflow: hidden;

  & img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.loader {
  display: flex;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}